<!DOCTYPE html>
<!--게시글 작성 폼-->
<html xmlns:th="http://www.thymeleaf.org">
  <head>
  <!--  head 요소는 user들에게 보여지는 것이 아닌 개발자가 HTML 페이지에 포함하고 싶어하는 모든 재료들을 위한 컨테이너 역할을 하는 것-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시물 작성</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <h2>게시물 작성</h2>
      <form th:action="@{/posts}" method="post">
      <!--  폼이 제출될 때 요청이 '/posts' URL로 전송된다. Thymeleaf의 'th:action' 속성은 URL 템플릿 표현식을 사용하여 동적으로 URL을 생성할 수 있다.
           'method="post" : 폼이 POST 메서드로 전송된다. 이는 폼 데이터를 서버로 전송할때 사용되는 HTTP 메서드이다.'-->
        <div class="form-group">
        <!--  Bootstrap CSS를 사용하여 입력 요소를 그룹화하는 클래스이다. -->
          <label for="title">제목</label>
        <!--  입력 필드의 레이블이다. 레이블을 클릭하면 해당 입력 필드로 포커스가 이동하게 해준다.-->
          <input type="text" class="form-control" id="title" name="title" required>
        <!--  type="text" : 텍스트 입력 필드를 나타냄
              class="form-control" : Bootstrap의 스타일링 클래스로, 입력 필드를 보다 사용자 친화적으로 만든다.
              'id = "title"' : 서버로 전송될 때 해당 입력 필드의 이름이다.
              'required' : 필수 입력 필드로, 폼을 제출할 때 이 필드가 비어 있으면 사용자에게 경고 메시지가 표시 된다.
            -->
        </div>

        <div class="form-group">
        <!--  작성자의 이름을 입력 받는 구역  -->
          <label for="author">작성자</label>
          <input type="text" class="form-control" id="author" name="author" required>
        </div>

        <div class="form-group">
        <!--  글의 내용을 입력 받는 구역    -->
          <label for="content">내용</label>
          <textarea class="form-control" id="content" name="content" rows="5" required></textarea>
        </div>

        <button type="submit" class="btn btn-primary">저장</button>
            <!--  폼을 제출하는 버튼으로 클릭하면 폼 데이터가 서버로 전송된다.
            Bootstrap의 버튼 스타일링 클래스로, 주로 파란색으로 표시됨-->

        <a href="/post/form" class="btn btn-primary">다음 페이지로 이동</a>
      </form>
    </div>
  </body>
</html>
